/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* COMMON */
.container {
  width: 60%;
  margin: auto;
}

/* Header */
.header-top {
  background-color: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  /* TEST */
  height: 100px;
}

/* contenitore generale elementi header */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content div {
  padding: 10px;
  /* test */
  background-color: #daa520;
}
.logo {
  width: 25%;
  border: 1px dotted black;
}

.nav {
  width: 50%;
  border: 1px dotted black;
}

/* contenitore link di navigazione */
.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

/* spaziatura tra link di navigazione */
li {
  padding: 0 10px;
}

/* rimozione sottolineatura link di navigazione */
.nav ul li a {
  text-decoration: none;
}

.login {
  width: 25%;
  border: 1px dotted black;
  text-align: right;

  /* test */
  background-color: cadetblue;
}

/* spazio per jumbotron */
.jumbotron {
  display: flex;
  background-color: #00008b;
  justify-content: center;
  align-items: center;
  /* test */
  height: 500px;
}

/* box per claim */
.adv {
  width: 45%;
  height: 450px;
  background-color: #a45aa4;
}
